/* You can add custom styles here. */

// @import "plugins/numbered";
// @import "plugins/scrollbars";


:root {
  --in-class: #36935b;
  --assignments: #68829e;
  --readings: #c1832c;
  --due: #c22e2e;
  --independent: #323855;
}



/* Source code: WebsiteEdu (https://websiteedu.com) */
.raised-edge {
    background-color: #f8f9fa;
    position: relative;
    width: 90%;
    height: auto;
    padding: 20px;
    margin: auto;
    text-align: left;
    font-size: 15px;
    border: 5px solid white;
    box-shadow: black 0px 0px 1px;
}
 
.edge-shadow:before {
    content: "";
    position: absolute;
    left: 30px;
    bottom: 20px;
    width: 250px;
    height: 50px;
    background: black;
    box-shadow: -15px 30px 15px rgb(141, 141, 141);
    transform: skew(-7deg,-7deg);
    z-index: -1;
}
 
.edge-shadow:after {
    content: "";
    position: absolute;
    right: 30px;
    bottom: 20px;
    width: 250px;
    height: 50px;
    background: black;
    box-shadow: 15px 30px 15px rgb(141, 141, 141);
    transform: skew(7deg,7deg);
    z-index: -1;
}


.p2 {
    padding-left: 40px;
    text-indent: -40px;
    line-height: 2;    
}


.p3 {
    text-indent: 40px;
}

.highlight {
    background-color: #fff2ac;
    background-image: linear-gradient(to right, #ffe359 0%, #fff2ac 100%);
}

h3 {color:#36935b}
h4 {color:#555352}

figcaption {
  text-align: center;
}







