/* You can add custom styles here. */

// @import "plugins/numbered";
// @import "plugins/scrollbars";


.paper {
  background: #eeeeee;
  box-shadow:
    /* The top layer shadow */
    0 1px 1px rgba(0,0,0,0.15),
    /* The second layer */
    0 10px 0 -5px #eee,
    /* The second layer shadow */
    0 10px 1px -4px rgba(0,0,0,0.15),
     /* The third layer */
    0 20px 0 -10px #eee,
    /* The third layer shadow */
    0 20px 1px -9px rgba(0,0,0,0.15);
    /* Padding for demo purposes */
    padding: 20px;
}


/* Source code: WebsiteEdu (https://websiteedu.com) */
.raised-edge {
    background-color: #f8f9fa;
    position: relative;
    width: 90%;
    height: auto;
    padding: 20px;
    margin: auto;
    text-align: left;
    font-size: 15px;
    border: 5px solid white;
    box-shadow: black 0px 0px 1px;
}
 
.edge-shadow:before {
    content: "";
    position: absolute;
    left: 30px;
    bottom: 20px;
    width: 250px;
    height: 50px;
    background: black;
    box-shadow: -15px 30px 15px rgb(141, 141, 141);
    transform: skew(-7deg,-7deg);
    z-index: -1;
}
 
.edge-shadow:after {
    content: "";
    position: absolute;
    right: 30px;
    bottom: 20px;
    width: 250px;
    height: 50px;
    background: black;
    box-shadow: 15px 30px 15px rgb(141, 141, 141);
    transform: skew(7deg,7deg);
    z-index: -1;
}


