/* You can add custom styles here. */

// @import "plugins/numbered";
// @import "plugins/scrollbars";


:root {
  --in-class: #d9c3b0; //#36935b;  //#DC6D1B;
  --assignments: #bfa07a; // #344e41; //#58595B;
  --readings: #cc6324; // #da6b1e;
  --due: #af2e1b; //#cc6324; //#c22e2e;
  --health: #588157;
  --independent: #3b4b59; // #4180e9;
  --circle-dots: #665B56;
  --donuts: #ED2FBF;
  --gray: #958D83;
  --lime-green: #749699;
  --tears: #b9dbe1;
  --w2-brown: #504736;
  --nuke: #bcb100;
  --night: #434C5E;
  --warning: #c22e2e;
  --ahrenge: #DC6D1B
}


.video-shortcode {
  width: 100%;
  height: auto;
}

/* Source code: WebsiteEdu (https://websiteedu.com) */
.raised-edge {
    background-color: #f8f9fa;
    position: relative;
    width: 90%;
    height: auto;
    padding: 20px;
    margin: auto;
    text-align: left;
    font-size: 15px;
    border: 5px solid white;
    box-shadow: black 0px 0px 1px;
}
 
.edge-shadow:before {
    content: "";
    position: absolute;
    left: 30px;
    bottom: 20px;
    width: 250px;
    height: 50px;
    background: black;
    box-shadow: -15px 30px 15px rgb(141, 141, 141);
    transform: skew(-7deg,-7deg);
    z-index: -1;
}
 
.edge-shadow:after {
    content: "";
    position: absolute;
    right: 30px;
    bottom: 20px;
    width: 250px;
    height: 50px;
    background: black;
    box-shadow: 15px 30px 15px rgb(141, 141, 141);
    transform: skew(7deg,7deg);
    z-index: -1;
}


.p2 {
    padding-left: 40px;
    text-indent: -40px;
    line-height: 2;    
}


.p3 {
    text-indent: 40px;
}

.highlight {
    background-color: #fff2ac;
    background-image: linear-gradient(to right, #ffe359 0%, #fff2ac 100%);
}

h3 {color:#DC6D1B}
h4 {color:#555352}

figcaption {
  text-align: center;
}


// SHIT FOR THE NEW THEME VERSION

// Themes
@mixin theme-light {
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-500: #adb5bd;

  --color-link: #0055bb;
  --color-visited-link: #8440f1;

  --body-background: white;
  --body-font-color: black;

  --icon-filter: none;

  --hint-color-info: #6bf;
  --hint-color-warning: #fd6;
  --hint-color-danger: #f66;
}

@mixin theme-dark {
  --gray-100: rgba(255, 255, 255, 0.1);
  --gray-200: rgba(255, 255, 255, 0.2);
  --gray-500: rgba(255, 255, 255, 0.5);

  --color-link: #84b2ff;
  --color-visited-link: #b88dff;

  --body-background: #343a40;
  --body-font-color: #e9ecef;

  --icon-filter: brightness(0) invert(1);

  --hint-color-info: #6bf;
  --hint-color-warning: #fd6;
  --hint-color-danger: #f66;
}


